@model Busreservation.Models.BusMaster

@{
    ViewData["Title"] = "DeleteBus";
    Layout = "~/Views/Shared/Dashbordlayout.cshtml";
}

<h1>DeleteBus</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BusMaster</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusCondition)
        </dd>
    </dl>
    
    <form asp-action="DeleteBus">
        <input type="hidden" asp-for="BusId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
