@model Busreservation.Models.TripDetail

@{
    ViewData["Title"] = "DetailsTrip";
    Layout = "~/Views/Shared/Dashbordlayout.cshtml";
}

<h1>DetailsTrip</h1>

<div>
    <h4>TripDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfSeatsBooked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfSeatsBooked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bus.BusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Driver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Driver.DriverName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Route)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Route.RouteId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TripCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
