@model Busreservation.Models.Driver

@{
    ViewData["Title"] = "DriverDetails";
    Layout = "~/Views/Shared/Dashbordlayout.cshtml";
}

<h1>DriverDetails</h1>

<div>
    <h4>Driver</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverGender)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DriverId">Edit</a> |
    <button asp-action="Driver" class="btn btn-success">Go Back</button>
</div>
