@model Busreservation.Models.BookingDetails

@{
    ViewData["Title"] = "Book";
    Layout = "~/Views/Shared/Userconsole.cshtml";
    int count = Model.PassengerDetails?.Count() > 0 ? Model.PassengerDetails.Count() : 0;

}


@section head{
    <style type="text/css">
        body {
            background: radial-gradient(circle at 110% 60%, #3c3484, #ffffff);
        }

        h3 {
            text-align: center;
            color: #3c3484;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
}

<h3>Passenger Details</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Book">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label" style="color:#3c3484; font-size:22px">User Mail</label>
                <input asp-for="UserId" class="form-control" readonly />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
            <label asp-for="BusName" class="control-label">Bus Name</label>-->
            @*<select asp-for="BusId" class="form-control" asp-items="ViewBag.BusId"></select>*@
            <!--<input asp-for="BusName" class="form-control" readonly />
                <span asp-validation-for="BusName" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <label asp-for="BookedOn" class="control-label" style="color:#3c3484; font-size:22px">Booking Date</label>
                <input type="date" asp-for="BookedOn" class="form-control" readonly />
                <span asp-validation-for="BookedOn" class="text-danger"></span>
            </div>

            @for (int i = 0; i < count; i++)
            {

                <div >
                    <label>Passenger @(i+1) Details </label>
                    <div class="form-group">
                        @*<label asp-for="@@item.PassName" class="control-label" style="color:#3c3484; font-size:22px">Passenger Name</label>-->*@
                        @*<input asp-for="@item.PassName" class="form-control" />
                            @Html.TextBoxFor(model => model.PassengerDetails[i].Name, null, new { @class = "form-control" })*@
                        <label>Passenger Name </label>
                        @Html.TextBoxFor(p => p.PassengerDetails[i].PassName, null, new { @class = "form-control" })


                        @*<span asp-validation-for="PassName" class="text-danger"></span>*@
                    </div>
                   
                    <div class="form-group">
                        @*<label asp-for="PassGender" id="passge" class="control-label" style="color:#3c3484; font-size:22px">Gender</label><br />*@
                        <lable>Gender </lable><br />

                        <input type="radio" value="Male" asp-for=@Model.PassengerDetails[i].PassGender class="custom-radio" />
                        <label>Male</label><br />
                        @*@Html.TextBoxFor(p => p.PassengerDetails[i].PassGender, null, new { @class = "form-control" })*@

                        @*<label for="male">Male</label><br />*@

                        <input type="radio" value="Female" asp-for=@Model.PassengerDetails[i].PassGender class="custom-radio" />
                        <lable>Female</lable><br />
                        @*@Html.TextBoxFor(p => p.PassengerDetails[i].PassGender, null, new { @class = "form-control" })*@

                        @*<label for="female">Female</label><br />*@

                        <input type="radio" value="other" asp-for=@Model.PassengerDetails[i].PassGender class="custom-radio" />
                        <lable>Others</lable><br />
                        @*@Html.TextBoxFor(p => p.PassengerDetails[i].PassGender, null, new { @class = "form-control" })*@

                        @*<label for="female">other</label><br />*@
                        @*<span asp-validation-for="PassGender" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        @*<label asp-for="PassAge" class="control-label" style="color:#3c3484; font-size:22px">Age</label>
                        <input asp-for="PassAge" class="form-control" />*@
                        <label>Age </label>
                        @Html.TextBoxFor(p => p.PassengerDetails[i].PassAge, null, new { @class = "form-control" })

                        @*<span asp-validation-for="PassAge" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        @*<label asp-for="@@item.Seatno" class="control-label" style="color:#3c3484; font-size:22px"></label>
                        <input asp-for="@@item.Seatno" class="form-control" readonly />*@
                        <lable>Seat No</lable>
                        @Html.TextBoxFor(p => p.PassengerDetails[i].Seatno, null, new { @class = "form-control",@readonly = true })

                        @*<span asp-validation-for="@@item.Seatno" class="text-danger"></span>*@
                    </div>
                </div>
            }


            <div class="form-group">
                <label asp-for="TravelFrom" class="control-label" style="color:#3c3484; font-size:22px">From</label>
                <input asp-for="TravelFrom" class="form-control" readonly />
                <span asp-validation-for="TravelFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TravelTo" class="control-label" style="color:#3c3484; font-size:22px">To</label>
                <input asp-for="TravelTo" class="form-control" readonly />
                <span asp-validation-for="TravelTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doj" class="control-label" style="color:#3c3484; font-size:22px">Date of Journey</label>
                <input type="date" asp-for="Doj" class="form-control" readonly />
                <span asp-validation-for="Doj" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Fare" class="control-label" style="color:#3c3484; font-size:22px"></label>
                <input asp-for="Fare" readonly class="form-control" />
                <span asp-validation-for="Fare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
            @Html.HiddenFor(model => model.BusId)
        </form>
    </div>
</div>

@*<div>
        <a asp-action="DisplayBus" asp-controller="Passenger">Back</a>
    </div>*@

