@model Busreservation.Models.Pnrdetail

@{
    ViewData["Title"] = "DeletePNR";
    Layout = "~/Views/Shared/Userconsole.cshtml";
}

<h1>DeletePNR</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pnrdetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seatno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seatno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bus.BusName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd class>
    </dl>
    
    <form asp-action="DeletePNR">
        <input type="hidden" asp-for="PnrNo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
